* {
	box-sizing: border-box;
}

/* Body */
.App {
	width: 90%;
	/* height: 90vh; */
	/* background-color: rgb(50, 48, 48); */
	background: black;
	color: white;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Header  */

.App-header {
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	background-color: black;
	/* border: 1px solid black; */
}

.App-header > .logo-name {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	white-space: normal;
	/* border: 1px solid black; */
}

.App-logo {
	width: 20%;
	object-fit: contain;
}

.h2-logo {
	color: aqua;
}

.background_image {
	width: 100%;
	margin-left: 30px;
	margin-top: 80px;
}

.headline > h1 {
	font-size: 40px;
	color: white;
}

.headline_body > ul > li {
	color: white;
	font-weight: bold;
	/* list-style: ; */
}

/* the sudo (::marker) is use to target the bullets for styling */
.headline_body > ul > li::marker {
	color: aqua;
	font-size: 30px;
	justify-content: center;
	text-align: center;
}

.background_image {
	background-image: url(images/logo.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-x: bottom;
	/* background-position-x: 100%; */
	/* opacity: 0.5; */
}
